<div class='menu'>
  <h3><span class='welcome'>Hello, </span></h3>
</div>

<div class="survey-list">
  <div><h2>List of Surveys:</h2></div>
  <ol>
    <% surveys.each do |survey| %>
    <h3><li><a href="#"><%=survey.title%></a></li></h3>
    <h6>created by: <%=survey.user.username%> on <%=survey.created_at.month%>/<%=survey.created_at.day%>/<%=survey.created_at.year%></h6>
    <% end %>
  </ol>
</div>
<h1 class= "ui horizontal  divider">end</h1>

<h2><a href='surveys/new'>Create a New Survey</a></h2>
