<h2><%= survey.title %></h2>

<h6>Created by <%= survey.user.username %> on <%= survey.created_at.month %>/<%= survey.created_at.day %>/<%= survey.created_at.year %></h6>
<hr>
<h2></h2>
<ol>
  <% survey.questions.each do |question| %>
  <li><%= question.question_text %></li>
    <ol type="A">
      <form action="/users/<%= current_user.id %>/choices" method = "post">
      <% question.choices.each do |choice| %>
        <li>
          <input type="hidden" name="question_id" value=<%= question.id %>>
          <input type="radio" name="choice_id" value=<%= choice.id %>>
          <%= choice.choice_text %>
        </li>
      <% end %>
      <h1></h1>
      <input class="ui tiny button blue" type="submit" value="Submit">
      </form>
      <h4></h4>
      <form action="/" method="get">
        <input class="ui tiny button blue" type="submit" value="Cancel">
      </form>
    </ol>
  <% end %>
</ol>
