
<h2><%=survey.title%></h2>

<h6>Created by <%=survey.user.username%> on <%=survey.created_at.month%>/<%=survey.created_at.day%>/<%=survey.created_at.year%></h6>
<hr>
<h2></h2>
<form action="/surveys/:id" method = "post">
<ol>
  <%survey.questions.each do |question|%>
  <li><%=question.question_text%></li>
    <ol type="A">
<!-- params[choice] -->
      <%question.choices.each do |choice|%>
        <li>
          <input type="hidden" name="choice[user_id]" value="<%current_user%>">
          <input type="radio" name="choice[choice_id]" value="<%= choice.id %>"> <%=choice.choice_text%>
        </li>
      <%end%>
    </ol>
  <%end%>
</ol>
<h1></h1>
  <input class="ui tiny button blue" type="submit" value="Submit">
</form>
<h4></h4>
<form action="/" method ="get">
  <input class="ui tiny button blue" type="submit" value="Cancel">
</form>
