<h1 class="ui large header"><%= survey.title %>
  <div class="sub header">
    Created by <%= survey.user.username %> on <%= survey.created_at.month %>/<%= survey.created_at.day %>/<%= survey.created_at.year %>
  </div>
</h1>
<hr>
<h2></h2>
<ol>
  <% survey.questions.each do |question| %>
  <li><%= question.question_text %></li>
    <ol type="A">
      <form action="/users/<%= current_user.id %>/choices" method = "post">
      <% question.choices.each do |choice| %>
        <li>
          <input type="hidden" name="question_id" value="<%= question.id %>">
          <input type="radio" name="choice_id" value="<%= choice.id %>">
          <%= choice.choice_text %>
        </li>
      <% end %>
    </ol>
      <h1></h1>
      <div class="ui tiny buttons">
        <input class="ui tiny button blue" type="submit" value="Submit">
      </form>
      <div class="or"></div>
      <a href ="/"><button class="ui button">Cancel</button></a>
      </div>
  <% end %>
</ol>
